* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(238, 213, 213);
  color: 222;
}

h1 {
  color: #111;
  font-size: large;
}

.Booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.book {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem 3rem;
  background-color: rgba(44, 6, 13, 0.582);
}

@media screen and (min-width: 768px) {
  .Booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
